chardet
# AttributeError: module 'fiona' has no attribute 'path'
fiona<1.10.0
flake8
# AttributeError: 'SpatialIndex' object has no attribute 'query_bulk'
geopandas<0.13.0
matplotlib
networkx
# ValueError: Unable to avoid copy while creating an array as requested.
numpy<2
jupyter
jupytext
pandas
pyproj
rtree
scipy
shapely
retrying
tqdm
